{% extends "index_base.html" %}
{% block content %}
    <div class="wrapper">
        <h1>Register</h1>
        <form method="post" action="{% url 'users:register'%}">
            {% csrf_token%}
            <input type="text" placeholder="아이디" name="username" >
            <input type="password" placeholder="비밀번호" name="password" >
            <input type="text" placeholder="닉네임" name="nickname" >
            <input type="text" placeholder="이메일" name="email" >
            <input type="submit">회원가입</input>
        </form>
    <div class="member">
        이미 회원이신가요? <a href="{% url 'users:login'%}">
            로그인
        </a>
    </div>
    </div>
{% endblock %}