{% extends "index_base.html" %}
{% block content %}
    <div class="wrapper">
        <h1>Register</h1>
        <form method="post" action="{% url 'users:register'%}">
            <input type="text" placeholder="ID" id="username" value="{{form.username.value|default_if_none:''}}">
            <input type="password" placeholder="비밀번호" id="password" value="{{form.password.value|default_if_none:''}}">
            <input type="text" placeholder="닉네임" id="nickname" value="{{form.nickname.value|default_if_none:''}}">
            <input type="text" placeholder="이메일" id="email" value="{{form.email.value|default_if_none:''}}">
            <button>회원가입</button>
        </form>
    <div class="member">
        이미 회원이신가요? <a href="{% url 'users:login'%}">
            로그인
        </a>
    </div>
    </div>
</body>
</html>