@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin:0;
    padding:0;
    outline:none;
    border:none;
    text-decoration:none;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background: #fAf8f1;
}
nav{
    position:fixed;;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    background:#fff;
    width:90px;
    overflow:hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width:50px;
    height: 50px;
    border-radius:50%;
}
a{
    position: relative;
    color: rgb(85,83,84);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height:70px;
    top:14px;
    font-size:20px;
    text-align:center;
}
.nav-item{
    position:relative;
    top:12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
nav:hover{
    width:280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}

h1{
    margin-left:120px;
    margin-top: 25px;
    color:#F8C36F;
    float:left;

}
.container_file {
    display: flex;
    width: 100%;
    margin: 20px 0;
  }
.button_text {
    border:rgb(259, 179, 119);
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 27%;
    margin-left:120px;
    margin-top:30px;
    height:35px;


  }
  .form__file-btn {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 14px;
    padding: 11px;
    border-radius: 8px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image:linear-gradient(45deg, #FFa973,#F8C56C);
    box-shadow: 0 20px 35px rgb(250, 237, 218);
    border: none;
    display: inline-flex;
    height:35px;
    margin-top:30px;


  }
  .video_container{
    margin-left:120px;
    float: left;
  }
  .upload_file {
    padding: 10%;
  }
  .form__file {
    display: none;
  }
  .button_nave{
    padding-bottom:150px;
  }
      .button_nav:hover, .form__file-btn:hover {
      background: rgb(250, 179, 119);
    }

      .button_nav:active, .form__file-btn:active {
      background: rgb(250, 179, 119);
    }
    #Visualize_archive{
      margin-left:120px;
    }

    .btn{
      display: inline-block;
      text-decoration: none;
      padding: 14px 40px;
      color: #fff;
      background-image:linear-gradient(45deg, #FFa973,#F8C56C);
      font-size: 14px;
      border-radius: 30px;
      transition:0.5s;
      animation-delay:1s;
    }
    .btn:hover{
      border-top-right-radius:30px;

  }
